$primary: #1f5d1f;
$secondary: #3e5554;
$warning: #e8a649;


/* Modify scrollbar color and width */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $secondary;
}

::-webkit-scrollbar-thumb {
    background-color: #658771;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d59c00;
}


@import '~bootstrap/scss/bootstrap';